
.white-box {
    width: 100vw; /* 90% of the viewport width */
  max-width: 100%;
   
    background-color: white;
    border-radius: 20px; /* Adjust the border-radius to make it more or less rounded */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow */
    display: flex;
    justify-content: flex-start;
    margin: 5rem 0;
    flex-direction: column;
    
  }

  .white-box__header{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .white-box__body{
    display: flex;
    
    padding: 2rem;
   
  }
  
  .white-box__title {
   font-weight: 300;
    color:black;
    font-size: 2rem;
    padding-left: 0.3rem;
  }

  .d-flex{
    display: flex;
  }

  .align-items-center{
    align-items: center;
  }

  .justify-content-between{
    justify-content: space-between;
  }

  .justify-content-evenly{
    justify-content: space-evenly;
  }

  .flex-column{
    flex-direction: column;
  }

  .gray-box {
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
  }

  .black-hr{
    border: none;
    border-top: 1px solid #ccc; /* Customize the line color and style */
    margin: 0px 0;
    
  }
  
  
  .score {
    font-size: 18px;
    color: gray;
    text-transform: uppercase;
    margin-right: 5px; 
  }